<h6>FrontEnd</h6>
<ul class="frontSkills">
  <li>HTML</li>
  <li>CSS</li>
  <li>Bootstrap</li>
  <li>Javascript</li>
  <li>JQuery</li>
  <li>Typescript</li>
  <li>Angular</li>
</ul>
<h6>BackEnd</h6>
<ul class="backSkills">
  <li>.Net/Core (Console, WinForms, WPF, WebForms, MVC, RazorPages)</li>
  <li>PHP , Laravel</li>
  <li>APIS (SOAP, REST, GRPC)</li>
  <li>Sockets</li>
  <li>Queues (MSMQ, RabbitMQ)</li>
</ul>
<h6>Database</h6>
<ul class="dbSkills">
  <li>Sql Server</li>
  <li>My Sql</li>
  <li>Redis</li>
</ul>
